.link line {
  stroke: #aaa;
}

@media (min-width: 500px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

.chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
  opacity: 1;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  opacity: 0;
}

.chart .bar-value {
  fill: black;
  opacity: 1;
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
  opacity: 1;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#network_graph {
  display: block;
  margin: auto;
}